node_modules

# Ignore lockfiles we don't use
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
# bun.lock

.DS_Store
.cache
.env
.env.local
.env.*.local
*.log

.data
.vercel
.output
.wrangler
.netlify
.sst
dist
/build/
/api/
/server/build
/public/build

.tanstack

# Testing
coverage
.nyc_output
*.lcov

# Generated documentation
docs/reference/**
!docs/reference/database/
docs/reference/database/*
!docs/reference/database/schema-erd.svg
!docs/reference/database/schema-erd.png